body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  height: 100%;
}

path {
  pointer-events: fill;
}

text {
  fill: #000;
  font-family: 'Monaco';
  font-size: 10px;
  stroke-width: 0.1px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 0;
}

#root {
  height: 100%;
}
