body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

circle {
  fill: none;
}

html {
  height: 100%;
}

path {
  fill: none;
  pointer-events: fill;
  stroke-width: 1px;
  stroke: #000;
}

text {
  font-family: 'Monaco';
  font-size: 10px;
  text-align: center;
  text-anchor: middle;
}

.text-align-center {
  text-align: center;
  text-anchor: middle;
}

.text-align-end {
  text-align: end;
  text-anchor: end;
}

.text-align-start {
  text-align: start;
  text-anchor: start;
}

#root {
  height: 100%;
}
