body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  height: 100%;
}

path {
  fill: #fff0;
  pointer-events: fill;
  stroke: #000;
}

text {
  font-family: monospace;
  font-size: 0.8rem;
}

#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
